<HTML>

<Header>
	<Title>🔥 Flames  🔥</Title>
	<script src="vue.js"></script>
	<script src="axios.min.js"></script>
	<link rel="stylesheet" href="w3.css">
	<link rel="stylesheet" href="style.css">
</Header>
<Body style="background: linear-gradient(180deg, #ffffff, #ffffff); background-repeat: no-repeat">
	<div id="app" class="w3-container">
        	<header class="w3-center w3-blue w3-panel w3-xxlarge w3-round-large w3-card-2">
            		<a href="javascript:location.reload(true)" class="w3-center">{{message}}</a>
        	</header>
	
		<div v-if="inputMode" id="divInputForm" class="w3-container w3-center w3-padding w3-card-2 w3-round-large" style="background: linear-gradient(180deg, #E4E4E2, #FAD7BD);">
			<input type="text" id="txtYourName" v-model="yourName" required="required" class="w3-input w3-border w3-border-red w3-round-large"
                	placeholder="Your Name"/>
			<input type="text" id="txthisherName" v-model="hisHerName" required="required" class="w3-input w3-border w3-border-red w3-round-large"
                	placeholder="His/Her Name"/>
		  	<input type="button" id="btnFlame" v-on:click="flame" role="button" value="🔥 Flames 🔥" class="w3-btn w3-red w3-round-large"/>
		</div>
		<div v-if="outputMode">
            	 
                	<div class="flex-container">
                    		<div class="flex-item w3-card-4 w3-padding-small w3-large w3-round-xlarge" v-for="letter in yourNameList">
                        		<span>{{letter}}</span>
                    		</div>
                	</div>
                	<br>
                	<div class="flex-container">
                    		<div class="flex-item w3-card-4 w3-padding-small w3-large w3-round-xlarge" v-for="letter in hisHerNameList">
                        		<span>{{letter}}</span>
                    		</div>
                	</div>
			<br>
                	<div class="flex-container">
                    		<div id="app" class="flex-item w3-card-4 w3-padding-small w3-large w3-round-xlarge">
                        		<span>{{Ttl_Lngth }}</span>
                    		</div>
                	</div>      
                	<div class="flex-container">
                    		<div id="app" class="flex-item w3-card-4 w3-padding-small w3-large w3-round-xlarge">
                        		<span>{{flames_value}}</span>
					<br>
					<span class="w3-btn w3-round-large w3-medium w3-green">
                        			<a href="javascript:location.reload(true)" class="w3-center">{{retry}}</a>
                    			</span>
                    		</div>
				
                	
                	</div> 
                	</div> 
            </div>
        </div>
	
	<script src="VueScript.js"></script>
</Body>
</HTML>
